@import '../../abstract/variables';

//clases del archivo Search
.principalBox{
    margin: auto;    
}

.textEspecialist{
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 53px;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}