@import '../../../styles/abstract/variables';

.containerCard{
    margin-inline: auto;
    max-width: 320px;
    min-width: 320px;
    max-height: 650px;
    min-height: 650px;
    justify-content: space-around;
    margin: 15px 5px;
    text-align: justify;
    
}

.headCard{
    display: flex;
    justify-content:space-around;
    margin:10px 0;    
}

.imgCard{
    width: 100px;
    height: 70px;
    margin:0;
    border-radius: 10px;
}

.textHeadCard{
    display: flow-ro;
    margin-left: 10px;
    margin-right: 10px;
    :first-child{
        font-size: 16px;
    }
    :nth-child(2){
        font-size: 12px;
    }
}

.iconsCard{
    margin: auto 10px;
    font-size:14px;
    background-color: none;
    text-align: justify;
}

.textIcons{
    margin: auto 29px;
    font-weight: bold;
    
}

.textAboutMe{
   
    padding: 20px;
    text-align: justify;
    width: 320px;
    height: 280px;

}

.divButton{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    //position: absolute;
    //bottom: 0%;

}

.buttonCard{
    background-color: #00244C;
    color: $white;
    width: 80%;
    font-weight: bold;
    position: relative;

   
    
    
    &:hover{
        background-color:lighten($BlueMarine, 10) ;
    }
}


.iconSpace{
    margin: 6 30 2 15;  
}

.icons{
    width: 320px;
    height: 200px;
    padding-left: 20px;
    padding-right: 10px;
}