@import '../abstract/variables';

.bootonCard{
	background-color: $BlueMarine;
	color: white;
	border-radius: 8px;
}

.icons{
	background-color: #5C5C5C;
	color: $BlueMarine;
}

.starts{
	color: yellow;
}