@import '../abstract/variables';

.remember{
    text-align:center;
}

.forgetPass{
    font-size: 16px;
    color:$BlueMarine;
    margin:10px 0 25px 0 ;
}

.register{
    font-size: 16px;
    color:$BlueMarine;
    margin:10px 0 25px 0;
}

.error{
    font-size: 12px;
}

.paperStyle{
    padding: 10px;
    height: 520px;
    width: 300px;
    margin: 20px auto;
}

.styleBox{
    background-color: $white;
    color: $GreenPrincipal;
    border-radius: 10px;    
}

.activo{
    background-color: $GreenPrincipal;
    color:$white;
    font-weight: bold;
}

.inactivo{
    background-color: $white;
    color:$GreenPrincipal;
    font-weight: bold;
}

.heartStyle{
    color:$red;
}

.inputStyle{
    padding: 8px 0;
    font-size: 12px;
}

.buttonStyle{
    background-color: $BlueMarine;
    padding: 5px 0;
    margin:5px 0 15px 0;
    &:hover{
        background-color:lighten($BlueMarine, 10%)
    }
}

.welcome{
    color: $GreenPrincipal;
    font-size:18px;
    font-weight: bold;
    margin:5px auto 25px auto;
}