@import '../abstract/_base';

.bootonCard{
	background-color: $primary-blue;
	color: white;
	border-radius: 8px;
}

.icons{
	background-color: #5C5C5C;
	color: $primary-blue;
}

.starts{
	color: yellow;
}