@import '../../styles/abstract/variables';

.principalBox{
    margin: auto;
}

.textEspecialist{
    margin-left: 350px;
    margin-top: 50px;
    margin-bottom: 53px;
}

.cards{
    display: flex;
    margin: 0px auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    min-width: 1000px;
    
}