@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif !important;
    max-width: 2000px;
    margin:auto;
}

a {
    text-decoration: none;
}
