@import '../../abstract/variables';

.containerPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 350px;
}

.containerLateralMenu{
   
}

.tabElement{
    margin: 2px;
    padding: 0 16px 0 12px;
}

.MuiSvgIcon-root{
    margin:0;
}

.containerPages{
    // width: 540px;
    margin: 10;
}

.MuiTabs-indicator{
    // background:$BlueMarine;
    background:none;
}