.bootonCard {
  background-color: #154880;
  color: white;
  border-radius: 8px;
}

.icons {
  background-color: #5C5C5C;
  color: #154880;
}

.starts {
  color: yellow;
}

.remember {
  text-align: center;
}

.forgetPass {
  font-size: 14px;
  color: #00244c;
  margin: 10px 0 25px 0;
}

.register {
  font-size: 14px;
  color: #00244c;
  margin: 10px 0 25px 0;
}

.error {
  font-size: 12px;
}

.paperStyle {
  padding: 10px;
  height: 560px;
  width: 320px;
  margin: 20px auto;
}

.styleBox {
  background-color: #fff;
  color: #113311;
  border-radius: 10px;
}

.activo {
  background-color: #113311 !important;
  color: #fff !important;
  font-weight: bold !important;
}

.inactivo {
  background-color: #fff !important;
  color: #113311 !important;
  font-weight: bold !important;
}

.heartStyle {
  color: red;
}

.inputStyle {
  font-size: 12px;
}

.buttonStyle {
  background-color: #00244c !important;
  padding: 5px 0;
  margin: 5px 0 15px 0;
}

.buttonStyle:hover {
  background-color: #003c7f !important;
}

.welcome {
  color: #113311;
  font-size: 18px;
  font-weight: bold;
  margin: 5px auto 25px auto;
}

.cardStyle {
  padding: 10px;
  height: 680px;
  width: 500px;
  margin: 20px auto;
}

.regCount {
  color: #113311;
  font-size: 18px;
  font-weight: bold;
  margin: 5px auto 25px auto;
}

.styleBox {
  background-color: #fff;
  color: #113311;
  border-radius: 10px;
}

.activo {
  background-color: #113311 !important;
  color: #fff !important;
  font-weight: bold !important;
}

.inactivo {
  background-color: #fff !important;
  color: #113311 !important;
  font-weight: bold !important;
}

.inputStyle {
  font-size: 12px;
}

.error {
  font-size: 12px;
}

.buttonStyle {
  background-color: #00244C !important;
  padding: 10px 10px;
  margin: 15px auto;
}

.buttonStyle:hover {
  background-color: #003c7f !important;
}

.remember {
  text-align: center;
}

.forgetPass {
  font-size: 14px;
  color: #00244C;
  margin: 10px 0 0px 0;
}

.register {
  font-size: 14px;
  color: #00244C;
  margin: 10px 0 25px 0;
}

.boxHead {
  background: linear-gradient(155deg, rgba(0, 100, 192, 0.75) 43%, #0aa105 98%, rgba(35, 136, 198, 0.85) 100%);
  border-radius: 20px;
  width: 80%;
  height: 300px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  text-align: center;
}

.boxHead h1 {
  padding: 10px 0 0 0;
  font-size: 24px;
}

.boxHead h3 {
  font-size: 16px;
  margin: 0px auto 0 auto;
}

.boxFind {
  margin: 20px;
  border-radius: 8px;
  background: #fff;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rowSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: black;
}

.textSearch {
  text-align: left;
  margin: 10px;
}

.textSearch div:first-child {
  font-size: 20px;
}

.textSearch div:nth-child(2) {
  font-size: 12px;
}

.buttonEspecialist {
  border: none;
  background-color: black;
}
/*# sourceMappingURL=app.css.map */